body {
  /* background: #ff5f6d; fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #ffc371,
    #ff5f6d */
  /* ); Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    #ffc371,
    #ff5f6d */
  /* ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Inconsolata', monospace;
}

a {
  color: orange;
  text-decoration: none;
}

.nav a {
  color: black;
}

.nav a.active {
  color: orange;
}

a:hover {
  color: orange;
}

img {
  width: 450px;
}

.outer {
  display: 'grid';
}

.inner {
  margin: auto;
  width: 1080px;
  /* border: 1px black solid; */
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* grid-template-rows: 1fr auto; */
  grid-gap: 1em;
  /* grid-column-gap: 1em;
  grid-row-gap: 1em; */
}

.wrapper > div {
  /* background-color: #eeeeee; */
  padding: 1em;
}

/* .wrapper > div:nth-child(even) {
  background-color: #eee;
} */

.pic {
  /* background-size: cover;
  background-image: url('../assets/grad.jpg'); */
  display: grid;
  justify-content: center;
  align-content: center;
}

.info {
  align-self: center;
  width: 304px;
}

.nav {
  display: grid;
  grid-auto-rows: 3em;
  align-items: center;
  align-self: center;
  border-left: 1px black solid;
}

.intro {
  grid-column: 1/3;
}

footer {
  padding: 1em;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1080px) {
  /* CSS for screens that are 320 pixels or less will be put in this section */
  .inner {
    width: 704px;
    /* border: 1px black solid; */
  }
  .info {
    align-self: center;
    justify-self: center;
    width: 304px;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
  }
  .pic {
    display: none;
  }
  .intro {
    grid-column: 1/2;
  }
}

@media screen and (max-width: 700px) {
  /* CSS for screens that are 320 pixels or less will be put in this section */
  .inner {
    width: auto;
    /* border: 1px black solid; */
  }
  .wrapper {
    display: grid;
    grid-template-columns: auto;
    /* grid-template-rows: 1fr auto; */
    grid-gap: 1em;
    /* grid-column-gap: 1em;
    grid-row-gap: 1em; */
  }
}
